.likeVideoContainer{
    flex: 11;
    overflow-x: hidden;
}

.likeVideoWrapper{
  display: flex;
  overflow-x: scroll;
  height: 450px;
}

.likeVideoWrapper::-webkit-scrollbar{
 height: 5px;
}
.likeVideoWrapper::-webkit-scrollbar{
 color: aquamarine;
}
.likeVideoWrapper::-webkit-scrollbar-thumb{
 color: aqua;
}


@media screen and (max-width:650px){
  .likeVideoContainer{
    gap: 5px;
  }
  .likeVideoWrapper {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: calc(100vh - 50px);
}
.likeVideoWrapper::-webkit-scrollbar{
  width: 0px;
}
}