.profileContent{
    flex: 11;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.profileContent::-webkit-scrollbar{
  width: 0px;
}

.CoverProfileImg{
    width: 100%;
    height: 200px;
}

.ProfileImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}
.profilepanel{
    display: flex;
    width: 100%;
    align-items: center;
}

.Aboutchannel{
    margin: 20px;
}

.channelName{
    font-size: 1.5rem;
    font-weight: 700;
}

.subscribers{
    text-align: center;
}

.SubscribersBtn {
    border: none;
    color: #fff;
    background-color: rgb(51 48 48);
    margin-right: 20px;
    padding: 7px 20px;
    border-radius: 0px;
    margin-left: auto;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px gray;
}

.profileItems{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.profileItem{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.profileItem:hover{
    transform: scaleX(1);
    border-bottom: 1px solid black;
}

@media screen and (max-width:600px){
    .profilepanel{
        gap: 10px;
        padding: 10px;
        width: calc(100vw - 20px);
    }
    .ProfileImg{
        margin: 0px;
    }
    .VideoCreate {
        margin-right: 20px;
    }
    .Aboutchannel{
        margin: 0px;
    }
    .profileItems {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 14px;
    }
     .creatingBtn {
        width: 171px;
    }
}
@media screen and (max-width:500px){
    .profilepanel{
        gap: 10px;
        padding: 10px;
        width: calc(100vw - 20px);
    }
    .ProfileImg{
        width: 60px;
        height: 60px;
    }
    .VideoCreate {
        margin-right: 20px;
    }
    .Aboutchannel{
        margin: 0px;
    }
    .profileItems {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .profileItem{
        font-size: 1rem;
        color: gray;
    }
     .creatingBtn {
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
    }
    .creatingBtn span{
        font-size: 13px;
        margin-right: 5px;
    }
}
@media screen and (max-width:400px){
    .ProfileImg{
        width: 50px;
        height: 50px;
    }
    .channelName {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .subscribers {
        text-align: center;
        font-size: 13px;
        color: gray;
    }
  .videoIcon{
    display: none;
  }
  .VideoCreate {
    margin-right: 0px;
}
}