.sidebar{
    flex: 2;
    min-width: 230px;
    overflow-y: scroll;
    position:sticky;
    top: 0px;
    height: calc( 100vh - 50px );
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
    scrollbar-color: rgb(234, 183, 183);
    transition: all ease-out 0.5s;
}
.minSideBar{
    flex: none;
    min-width: 50px;
}
.minName{
    display: none;
}
.toggleIcon{
    width: 20px;
    background-color: transparent;
    height: 20px;
    position: fixed;
    top: 16px;
    z-index: 99;
    left: 13px;
}

.active{
    min-width: none;
    flex: 0;
    position: relative;
    left:-200px;
}

.sidebar::-webkit-scrollbar{
    width: 7px;
}

.sidebar::-webkit-scrollbar-thumb{
background-color: rgb(202, 185, 185);
}

.sidebar::-webkit-scrollbar-track{
background-color: #fff;
}

.Seperator{
   margin: 0 10px;
  background-color: rgb(214, 233, 211);
}

.ExploreList{
    list-style-type: none;
    padding: 5px;
}

.minExploreList{
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ExploreListItem{
    display: flex;
    align-items: center;
    padding:10px 20px;
    cursor: pointer;
}

.ExploreListItem:hover{
    background-color: rgb(208, 203, 196);
    transition: all ease 0.5s;
    color: #fff;
}

.Icon{
    width: 20px;
    height: 20px;
    padding-right: 15px;
}
.minIcon{
    width: 25px;
    height: 25px;
}
.exploreIconName{
    font-size: 1rem;
}

.headingSubscription{
    font-size: 1.3rem;
    margin-left: 10px;
}


.listSubscription{
    list-style-type: none;
    padding-left: 5px;
}
.minlistSubscription{
    list-style-type: none;
    padding-left: 0px;
} 

.itemSubscription{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}
.minItemSubs{
    flex-direction: column;
}
.itemSubscription:hover{
    background-color: rgb(208, 203, 196);
    transition: all ease 0.5s;
    color:#fff;
}

.subscriptionLogo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}

.minSubscriptionLogo{
    margin-right: 0px;
}
.minSubsName{
    font-size: 13px;
    color: gray;
    text-align: center;
}

.ExploreHeading{
    margin-left: 20px;
    font-size: 1.4rem;

}

.ExploringList,.userInformation{
    list-style-type: none;
    padding-left: 5px;
}

.ExploreListitem,.userInfo{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}
.minexploreListItem ,.minuserInfo{
    padding: 10px 0px;
}

.ExploreItemName,.SubjectName{
    font-size: 1rem;
}

.ExploreListitem:hover,.userInfo:hover{
    background-color: rgb(208, 203, 196);
    transition: all ease 0.5s;
    color: #fff;
}

@media screen and (max-width:850px) {
    .sidebar{
        width: 250px;
        position:absolute;
        top: 50px;
        z-index: 5566;
        left: 0px;
    }
    .minSideBar{
        transition: all ease-in 0.3s;
        left: -300px;
    }
}