.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sideImg{
    width: 30vw;
    height: 400px;
}

.registerField{
    margin: 5px 20px;
    border: none;
    outline: none;
    height: 25px;
    background-color: transparent;
    font-size: 1rem;
    border-bottom:1px solid #fff;
    color:rgb(42, 37, 37);
}

.RegisterBtn{
   width: 100px;
   height: 40px;
   border: none;
   color: #fff;
   background: #000;
   font-weight: 700;
   border-radius: 10px; 
   margin-top: 10px;
   cursor: pointer;
}

