.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sideImg{
    width: 30vw;
    min-width: 400px;
    height: 400px;
}

.registerField{
    margin: 5px 20px;
    border: none;
    outline: none;
    height: 25px;
    background-color: transparent;
    font-size: 1rem;
    border-bottom:1px solid #fff;
    color:rgb(42, 37, 37);
}

.RegisterUpload {
    color: #faf8f8;
    background-color: #2027cae0;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.RegisterBtn{
   width: 100px;
   height: 40px;
   border: none;
   color: #fff;
   background: #000;
   font-weight: 700;
   border-radius: 10px; 
   margin-top: 10px;
   cursor: pointer;
}

@media screen and (max-width:700px){
    
.sideImg{
    width: 30vw;
    min-width: 400px;
    height: 400px;
    display: none;
}
.register{
    width: 100%;
    margin-top: 100px;
}
.RegisterBtn{
    width: 100%;
    height: 40px;
    color: #242020;
    border-radius: 5px;
    background-color: #faf8f8;
 }
}