.ProfileChannelSection {
    max-width: 80%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-top: 40px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

@media screen and (max-width:1050px) {
    .ProfileChannelSection{
        grid-template-columns:1fr 1fr 1fr;
    }
}

/* @media screen and (max-width:850px) {
    .ProfileChannelSection{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
} */

@media screen and (max-width:600px) {
    .ProfileChannelSection{
        grid-template-columns:1fr 1fr;
    }
}

@media screen and (max-width:450px) {
    .ProfileChannelSection{
        grid-template-columns:1fr;
    }
}