.HistoryContainer{
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  flex: 10;
}
.DeleteAllVideoHistory{
  margin-top: 5px;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  color: brown;
  font-weight: 700;
  font-size: 1rem;
  font-style: italic;
  padding: 5px;
  border-radius: 5px;
  background-color: antiquewhite;
  cursor: pointer;
}

.historyVideos{
    overflow-x: scroll;
    display: flex;
    margin: 0px 10px;
    height: 380px;
}

.historyVideos::-webkit-scrollbar{
  height: 5px;
}

.historyVideos::-webkit-scrollbar-thumb{
  color: grey;
}

.historyVideos::-webkit-scrollbar-track{
color: blue;
}