.HistoryContainer{
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  flex: 10;
  gap: 15px;
}
.HistoryContainer::-webkit-scrollbar{height: 1px;}
.HistoryContainer::-webkit-scrollbar-thumb{background-color: aqua;}
.HistoryContainer::-webkit-scrollbar-track{background-color: #fff;}
.DeleteAllVideoHistory{
  margin-top: 5px;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  color: brown;
  font-weight: 700;
  font-size: 1rem;
  font-style: italic;
  padding: 5px;
  border-radius: 5px;
  background-color: antiquewhite;
  cursor: pointer;
}

.historyVideos{
    overflow-x: scroll;
    display: flex;
    padding: 0px 10px;
    height: 450px;
}


.historyVideos::-webkit-scrollbar{
  height: 1px;
}

.historyVideos::-webkit-scrollbar-thumb{
  color: grey;
}

.historyVideos::-webkit-scrollbar-track{
color: blue;
}

@media screen and (max-width:650px){
  .HistoryContainer{
    gap: 5px;
  }
  .historyVideos {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: calc(100vh - 100px);
}
.historyVideos::-webkit-scrollbar{
  width: 0px;
}
}