.Loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideImg{
    width: 30vw;
    height: 400px;
}

.inputfield{
    margin: 10px 50px;
    border: none;
    outline: none;
    height: 25px;
    background-color: transparent;
    font-size: 1rem;
    border-bottom:1px solid #fff;
    color:rgb(42, 37, 37);
}

.loginbtn{
   width: 100px;
   height: 40px;
   border: none;
   color: #fff;
   background: #000;
   font-weight: 700;
   border-radius: 10px; 
   margin-top: 10px;
   cursor: pointer;
}